<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../asset/styles/style3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <title>the NorCal Time Trial Series</title>
</head>
<body>
    <div class="fz-20">
        <ul class="navbar">
            <li><a href="#events">Events</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#safety-rules">Safety Rules</a></li>
            <li><a href="#info">General Information</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="./registration.html">Sing Up!</a></li>
        </ul>
    </div>
    <div class="parallax">
        <div class="fz-40 next">
            <img class="logo" width="20px" src="../asset/media/img/LOGO.png" alt="foto coche">
            <span class="border">Norcal Time Trial Series</span>
        </div>     
    </div> 
    <section>
        <div id="events" class="contenedor fz-20">
            <div class="titulo">
                    <h3>Upcoming Events</h3>
            </div>
            <dl>
                <div class="columnas">
                     <div>
                         <dt>February 12</dt>
                        <dd>Board Meeting</dd>
                     </div>
                     <div>
                        <dt>February 25</dt>
                        <dd>Drivers Zoom Meeting</dd>
                    </div>
                    <div>
                         <dt>March 12</dt>
                         <dd>First Event at Thunderhill!</dd>
                    </div>
                </div>
            </dl>
        </div>
    <div class="parallax"></div> 
        <div id="about" class="contenedor fz-20">
            <div class="titulo">
                <h3>About NCTTS</h3>
            </div>
            <div>
                <h4>Mission</h4>
                 <p>To quote https://24hoursoflemons.com/:  
                    </p>
                 <q>Racing shouldnt just be for rich idiots. Racing should be for all idiots.</q>
            </div>
            <div>
                <h4>Vision</h4>
                 <p>The NorCal Time Trial Series aspires to make the excitement of competitive racing events on iconic Northern California racetracks available to all enthusiasts without the costs or risks of wheel-to-wheel racing.
                    </p>
            </div>
             <div>
                 <h4>General Information</h4>
                 <p>The NorCal Time Trial Series will hold at least one event per month on a track such as Sonoma Raceway, Thunderhill Raceway, or WeatherTech Raceway at Laguna Seca. Full safety equipment is required, and your car must pass technical inspection before you can compete.
                    </p>
            </div> 
        </div>
    <div class="parallax"></div> 
        <div id="safety-rules" class="contenedor fz-20">
            <div class="titulo">
                <h3>Time Trials Safety Rules</h3>
            </div>
            <div>
                <h4>We have adopted the rules of the Sports Car Club of America</h4>
                <p>Motorsports are inherently dangerous. These Rules are in no way a guarantee against injury or death to participants, spectators or others. You can reduce risk by driving well, properly using superior safety gear, paying attention, and reporting unsatisfactory issues to the event officials. Drivers are responsible for ensuring that the vehicle being used is properly prepared for operation under elevated acceleration, braking and cornering forces. Drivers must have a Technical Inspection (Tech) Sheet completed and available to present to an SCCA Official.</p>
                <p>Entrants are reminded that there is a considerable gap between a minimum standard and the best protection that current technology can provide. It is recommended that seats, restraint systems, roll bars and helmets meet the highest safety standards possible.</p>
                <p>National Time Trials Events and some SCCA Regions require more than the minimum safety required by these Rules. In these cases, there are two additional Safety Levels.</p>
            </div>
            <ol>
                <li>SAFETY LEVEL 1</li>
                    <ol>
                        <li>All Vehicles</li>
                            <ol>
                                <li>Seats and Seat belts</li>
                                    <ol class="upper-alpha-list">
                                        <li>All vehicles must provide factory original (or better) seats that are securely mounted.</li>
                                        <li>All vehicles must have seat belts with a minimum of three (3) mounting points mounted in accordance with manufacturers recommendations when applicable (SFI or FIA rated are recommended).</li>
                                        <li>When in-car coaches are utilized, any seat and restraints used by the coach shall match or exceed those used by the driver.</li>
                                    </ol>
                                <li>Interior</li>
                                    <ol class="upper-alpha-list">
                                        <li>The interior and trunk must be emptied and clear of all loose items, including floor mats which are not secured with clips or fasteners.</li>
                                    </ol>
                                <li>Brakes</li>
                                    <ol class="upper-alpha-list">
                                        <li>Brake pads or shoes should not be more than 50% worn at the start of an event and should not ever be more than 85% worn during competition.</li>
                                        <li>Brake fluid must be clean and full (DOT 4 recommended).</li>
                                        <li>Vehicles must have at least one working brake light.</li>
                                        <li>There must be no brake fluid leaks.</li>
                                        <li>Rotors and drums must be in good condition without cracks or discoloration.</li>
                                    </ol>
                                <li>Tires and Wheels</li>
                                    <ol class="upper-alpha-list">
                                        <li>Tires must be in good condition with adequate tread and speed rating.</li>
                                        <li>All lug nuts, wheel bolts or wheel nuts must be present and torqued to spec.</li>
                                        <li>Hub caps, or any wheel cosmetic accessory which is not positively secured by clip or fastener, must be removed.</li>
                                        <li>Wheels must not have cracks or structural damage.</li>
                                    </ol>
                                <li>Suspension and Steering</li>
                                    <ol class="upper-alpha-list">
                                        <li>Wheel bearings must not have play.</li>
                                        <li>Ball joints must be in good condition.</li>
                                        <li>Steering must not have excessive play.</li>
                                        <li>Shocks/Struts must not be leaking.</li>
                                    </ol>
                                <li>Engine and Drivetrain</li>
                                    <ol class="upper-alpha-list">
                                        <li>All fluids must be at correct levels. Fluid caps must be tight and secure, overflow containers present and there must not be any fluid leaks.</li>
                                        <li>Belts and hoses must be in good condition.</li>
                                        <li>Battery must be secured, and battery terminals covered. (Note: flexible battery hold-downs, such as bungee cords/straps, are not acceptable.)</li>
                                        <li>Exhaust system must be functional. (There may be sound restrictions.)</li>
                                        <li>Throttle must have a quick, positive return.</li>
                                    </ol>
                                <li>Roll Bars</li>
                                    <ol class="upper-alpha-list">
                                        <li>When present, any roll bar must be properly installed and securely attached.</li>
                                        <li>When present, any part of a roll bar able to be contacted by a driver’s head must have padding.</li>
                                    </ol>
                                <li>Other</li>
                                    <ol class="upper-alpha-list">
                                        <li>Glass must not have any severe cracks.</li>
                                        <li>A rear-view device must be present, and any rear-view mirrors must be secure and free of cracks.</li>
                                        <li>Any video cameras/recording devices must be securely mounted.</li>
                                    </ol>
                            </ol>
                        <li>Convertibles</li>
                            <p>It is highly recommended that all convertible vehicles be equipped with an aftermarket roll bar that meets or exceeds the standards set in the Time Trials Safety Standard Level 2 (see below). However, minimum safety standards requires the vehicle meets at least one of the following criteria and is not subject to any of the listed exceptions:</p>
                            <ol>
                                <li>Convertible vehicles up to and including the 2005 model year must have rollover protection meeting one of the following criteria:</li>
                                    <ol class="upper-alpha-list">
                                        <li>The vehicle is equipped with documented factory installed roll over protection. (Examples of manufacturer-documented roll over protection include hydroformed and reinforced a-pillars or windshield frame and factory installed roll bars and/or “pop-up” bars that are designated as roll over protection.)</li>
                                        <li>The vehicle is equipped with a commercially produced roll bar or roll cage which is described by the manufacturer to provide track-appropriate rollover protection. (E.g., “style” bars are not acceptable.)</li>
                                        <li>The vehicle is equipped with a roll bar that meets the Safety Level 2 standards for material and construction.</li>
                                    </ol>
                                <li>Convertible vehicles of the 2006 model year or later must have a roll bar that meets the Safety Level 2 standards for material and construction unless one of the following criteria is met.</li>
                                    <ol class="upper-alpha-list">
                                        <li>The vehicle is equipped with documented factory-installed roll over protection or a commercially produced roll bar or roll cage which is described by the manufacturer to provide track-appropriate rollover protection.</li>
                                        <li>The vehicle is six (6) cylinders, with the OE drivetrain and may only be naturally aspirated.</li>
                                        <li>The vehicle is four (4) cylinders or less, with the OE drivetrain, including any forced-induction equipment.</li>
                                        <p>Note: This means that for 2006+ vehicles, if the engine is not the original equipment model as delivered in that vehicle,  aftermarket forced induction has been installed, or the vehicle has more than six (6) cylinders or six (6) cylinders and forced induction of any type, the vehicle must have aftermarket rollover protection or documented factory rollover protection.</p>
                                    </ol>
                                <li>T-tops and targa top cars:
                                    T-top and targa top cars are not considered convertibles, and do not fall under the convertible requirements.
                                    </li>
                            </ol>
                        <li>Driver Gear</li>
                            <ol>
                                <li>Helmets</li>
                                    <ol class="upper-alpha-list">
                                        <li>Helmets meeting at least one of the following standards must be worn while on track:</li>
                                            <ul class="type-list">
                                                <li>All helmets meeting the latest or two immediately preceding Snell Founda¬tion standards (SA2020, M2020, EA2016, SA2015, SA2010, SAH2010, SA2005, M2015, M2010)</li>
                                                <ul class="nested">
                                                    <li >For 2021, Snell “2005” versions (SA2005, M2015, M2010, M2005, K2015, K2010, K2005) are acceptable as the year will be considered a transition year for helmet safety standards.</li>
                                                </ul>
                                             
                                                <li>SFI standards 31.1, 41.1, 31.1A, 31.2A, 41.1A, 41.2A;</li>
                                                <li>ECE 22.05 (ECE or "ECE R" acceptable);</li>
                                                <li>FIA standards 8859-2015, 8860-2010, 8860-2004;</li>
                                                <li>British spec BS6658-85 type A are acceptable.</li>
                                            </ul>
                                        <li>Full face shall be worn in an open vehicles without windshields. (E.g., formula car, sports racer, exoskeleton kit-cars) Face shield, goggles, or similar face protection (conventional eyeglasses are not sufficient) shall be worn while competing in any other vehicle with less than the standard-size windshield.</li>
                                        <li>For maximum protection, helmets must fit securely and should provide adequate peripheral vision. The chin strap must be securely fastened.</li>
                                    </ol>
                                <li>Clothing</li>
                                    <ol>
                                        <li class="upper-alpha-list">Shoes covering the entire foot shall be worn.</li>
                                    </ol>
                            </ol>
                    </ol>
                <li>SAFETY LEVEL 2</li>
            </ol>
        </div>
    <div class="parallax"></div> 
        <div id="info" class="contenedor fz-20">
            <div class="titulo">
                <h3>General Information</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Locations</th>
                        <th scope="col">Spring Schedule</th>
                        <th scope="col">Times</th>
                        <th scope="col">Additional Information</th>
                        <th scope="col">Questions to</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Sonoma Raceway (formerly called Sears Point)
                            29355 Arnold Dr, Sonoma, CA
                        </td>
                        <td>
                            April 9
                        </td>
                        <td rowspan="3">
                            Gates open at 7:00 AM
                            First car out at 9:00 AM
                            Gates close at 5:00 PM
                        </td>
                        <td rowspan="3">
                            If deemed necessary by NCTTS, events may be shortened or cancelled due to extreme weather conditions. 
                        </td>
                        <td rowspan="3">
                            Michael Randall, Event Coordinator
                            Phone: (415) 690-8132 Email: michael.randall@nctts.org
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Thunderhill Raceway Park
                            5250 CA-162, Willows, CA
                        </td>
                        <td>
                            March 12
                        </td>
                    </tr>
                    <tr>
                        <td>
                            WeatherTech Raceway Laguna Seca
                            1021 Monterey Salinas Hwy, Salinas, CA
                        </td>
                        <td>
                            May 14
                            May 28
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <div class="parallax"></div> 
        <div id="contact" class="contenedor fz-20">
            <div class="titulo">
                <h3>Contact Us</h3>
            </div>
                <p>Please email us at: <a href="mailto:info@nctts.org">info@nctts.org</a></p>
                <p>We will reply as quickly as we can.</p>
            </div>
    <div class="parallax"></div> 
        <div class="fz-20">
            <ul class="navbar">
                <li><a href="#events">Events</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#safety-rules">Safety Rules</a></li>
                <li><a href="#info">General Information</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </section>
</body>
</html>